{
  "extends": [

    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "markdown"
  ],
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-console": "off",
    "no-empty": "off"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
