name: Sync Fork

on:
  schedule:
    - cron: '45 4 * * *' # every day at 4:44 am
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1
        with:
          base: master
          head: master
